body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}
.container {
  background-color: aqua;
  width: 50%;
  height: 250px;
  background-color: #48e5c2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
